# Assignment 4B

## Note: scroll to end to see Pandas

Version 1.01

**Prerequisite:** You need to have gone through Assignment 4A to work through the numbers below.

To make sure that you've done the work, perform checks by running the next few cells below:

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

['admin', 'config', 'hr', 'local', 'order_management', 'products']

You should see the following databases:
* order_management
* products
* hr

Let's create handlers for each below:

In [3]:
products_db = myclient["products"]
order_management_db = myclient["order_management"]
hr_db = myclient["hr"]

Let's revisit the employees collection.

In [4]:
employees_col = hr_db["employees"]

[e for e in employees_col.find()]

[{'_id': 1,
  'first_name': 'Bong',
  'last_name': 'Olpoc',
  'base_pay': 2200.0,
  'employee_id': '190001'},
 {'_id': 2,
  'first_name': 'Chums',
  'last_name': 'Uy',
  'base_pay': 1650.0000000000002,
  'employee_id': '190002'},
 {'_id': 3,
  'first_name': 'Joaqs',
  'last_name': 'Gonzales',
  'base_pay': 1100.0,
  'employee_id': '190003'},
 {'_id': 4,
  'first_name': 'Joben',
  'last_name': 'Ilagan',
  'base_pay': 1100.0,
  'employee_id': '190004'},
 {'_id': 5,
  'first_name': 'Sean',
  'last_name': 'Uy',
  'base_pay': 2200.0,
  'employee_id': '190005'},
 {'_id': 6,
  'first_name': 'Stephen',
  'last_name': 'Chan',
  'base_pay': 1650.0000000000002,
  'employee_id': '190006'}]

Let's assign an employee id to make it easier to reference. The convention we will use is just to prefix a year, followed by `_id` with padded zeros.

In [5]:
# we will have to update one document at a time, unfortunately

for e in employees_col.find({}):    
    # print("{}".format(str(e["_id"]).zfill(3)))
    employee_id = "19{}".format(str(e["_id"]).zfill(4))
    print(employee_id)
    employees_col.update_one({"_id":e["_id"]},{"$set":{"employee_id":employee_id}})

190001
190002
190003
190004
190005
190006

In [6]:
# check if new column employee_id was created
for x in employees_col.find():
    print(x)

{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0, 'employee_id': '190001'}
{'_id': 2, 'first_name': 'Chums', 'last_name': 'Uy', 'base_pay': 1650.0000000000002, 'employee_id': '190002'}
{'_id': 3, 'first_name': 'Joaqs', 'last_name': 'Gonzales', 'base_pay': 1100.0, 'employee_id': '190003'}
{'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0, 'employee_id': '190004'}
{'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0, 'employee_id': '190005'}
{'_id': 6, 'first_name': 'Stephen', 'last_name': 'Chan', 'base_pay': 1650.0000000000002, 'employee_id': '190006'}

### 1) Logging Sales Orders

Let's create a function `create_sales_order(collection, shopping_cart)` that takes on a MongoDB collection and a shopping cart directory as parameters and inserts the data directly as a document in the passed collection parameter.

But first, we need to create the collection **sales_orders** in **order_management**:

In [7]:
sales_orders_col = order_management_db["sales_orders"]

#### 1a) Insert existing shopping carts to the new collection

Existing shopping cart documents have already been defined below. Insert into the new collection. Let MongoDB handle creating the new `_id`s so no need to define these.

(10 points)

In [8]:
from datetime import datetime

shopping_cart_list = [
    {"transaction_date":datetime.strptime('Jul 1 2019  1:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":1,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  1:35PM', '%b %d %Y %I:%M%p'),
     "customer_id":2,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190003",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":4,
     "clerk_id":"190004",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  4:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":5,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  5:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":6,
     "clerk_id":"190006",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  6:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":7,
     "clerk_id":"190005",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
]

In [14]:
shopping_cart_list

[{'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda799')},
 {'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda79a')},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda79b')},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda79c')},
 {'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda79d')},
 {'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda79e')},
 {'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}],
  '_id': ObjectId('5d36ba2488a074c3b0dda79f')}]

In [16]:
## write code to insert to new collection below
## ---------------------------------------------

x = sales_orders_col.insert_many(shopping_cart_list)

## if you want to repeat the process due to a mistake, run the following line:
# sales_orders_col.delete_many({})

#### 1b) Define the function  `create_sales_order(collection, shopping_cart)` and test with a new shopping cart dictionary

(10 points)

In [17]:
new_shopping_cart = {
    "transaction_date":datetime.strptime('Jul 2 2019  8:30AM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":2,
             "subtotal":400
         }
     ]
    }

In [18]:
# define function here

def create_sales_order(collection, shopping_cart):
    # write code here
    try:
        collection.insert_many(shopping_cart)
    except TypeError:
        collection.insert_one(shopping_cart)

In [19]:
# test your new function here:

create_sales_order(sales_orders_col, new_shopping_cart)

# inspect whole sales_order collection
[s for s in sales_orders_col.find({})]

[{'_id': ObjectId('5d36ba2488a074c3b0dda799'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba2488a074c3b0dda79a'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba2488a074c3b0dda79b'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba2488a074c3b0dda79c'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba2488a074c3b0dda79d'),
  'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba2488a074c3b0dda79e'),
  'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba2488a074c3b0dda79f'),
  'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36ba6988a074c3b0dda7a1'),
  'transaction_date': datetime.datetime(2019, 7, 2, 8, 30),
  'customer_id': 3,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 2, 'subtotal': 400}]}]

### 2) Determine commissions of clerks from sales orders

Assuming each salesperson/clerk gets 1% of gross sales, list potentential commissions earned per sales order.

In [20]:
# do a quick dump of sales orders showing just the clerk id and total amount per sales order
[o for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'clerk_id': '190002', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190003', 'total': 400},
 {'clerk_id': '190004', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190006', 'total': 400},
 {'clerk_id': '190005', 'total': 400},
 {'clerk_id': '190002', 'total': 400}]

If you wish to display the name of the clerk, let's apply a lookup function

In [21]:
def employee_lookup(x):
    employee = employees_col.find_one({"employee_id":x})
    return "{}, {}".format(employee["last_name"], employee["first_name"])

commission_rate = 0.01

[{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'Uy, Chums': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}},
 {'Ilagan, Joben': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Chan, Stephen': {'total': 400, 'commissions': 4.0}},
 {'Uy, Sean': {'total': 400, 'commissions': 4.0}},
 {'Uy, Chums': {'total': 400, 'commissions': 4.0}}]

#### 2a) Generate a csv file containing total commissions earned per employee

Go wild, be creative. Whether you generate the aggregate totals through accumulation (via regular iterators), Pandas dataframes, or through MongoDB aggregations, it's up to you.

The file must be saved as **commissions.csv"

The csv must have the following format:
```
last_name,first_name,total_sales,total_commissions
```

(20 points)

In [22]:
# full list of dictionaries from above
completeList = [{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

# list all clerks (no repetitions)
clerkList = []
for i in range(0,len(completeList)):
    for clerk in completeList[i].keys():
        if clerk not in clerkList:
            clerkList.append(clerk)
        else:
            pass

# collect last names
lastName = []
for i in range(0,len(clerkList)):
    lastName.append(clerkList[i][0:clerkList[i].index(",")])

# collect first names
firstName = []
for i in range(0,len(clerkList)):
    firstName.append(clerkList[i][clerkList[i].index(",")+2:])

# get clerk list same order as completeList
clerkListRepetitions = []
for i in range(0,len(completeList)):
    for clerk in completeList[i].keys():
        clerkListRepetitions.append(clerk)
        
# no repeating clerk keys : total sales
salesDict = {}        
for clerk in clerkList:
    salesDict[clerk]=0 # temporary 0
    for i in range(0,len(clerkListRepetitions)):
        if clerk == clerkListRepetitions[i]: # if the two clerks match... 
            # note: clerkListRepetitions is in same order as completeList
            # note: so we can use clerkListRepetitions to figure out which lines in compeleteList matches the key salesDict
            salesDict[clerk] += completeList[i][clerk]["total"] # ...add the sales value attained from completeList
        else:
            pass

commDict = {}
for clerk in clerkList:
    commDict[clerk]=0
    for i in range(0,len(clerkListRepetitions)):
        if clerk == clerkListRepetitions[i]: # same principle as salesDict
            commDict[clerk] += completeList[i][clerk]["commissions"] # get "commissions" value instead
        else:
            pass

# strings to write in csv file
csvStringList = [lastName[i]+","+firstName[i]+","+str(salesDict[clerkList[i]])+","+str(commDict[clerkList[i]]) for i in range(0,len(clerkList))]
        
import csv

# let's write
with open("commissions.csv","a",newline='') as csvFile:
    writer = csv.writer(csvFile, delimiter='\n') # make sure no quoting
    writer.writerow(["last_name,first_name,total_sales,total_commissions"])
    for i in range(0,len(csvStringList)):
        writer.writerow([csvStringList[i]])

#### 2b) Generate a payslip per clerk

Each clerk must receive a payslip (as represented by separate files with the format <employee id>-commissions.html) containing the following:
    
```
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}</div>
   <div><br/>
</html>
```

(20 points)

In [23]:
html = '''
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}</div>
   <div><br/>
</html>
'''

for i in range(0,len(csvStringList)):
    fileName = lastName[i]+","+firstName[i]+"-commissions.html"
    htmlPrint = html.format(first_name=firstName[i],last_name=lastName[i],total_sales=str(salesDict[clerkList[i]]),total_commissions=str(commDict[clerkList[i]]))
    with open(fileName,"w+") as htmlFile:
        htmlFile.write(htmlPrint)

# Pandas Version

In [24]:
completeList = [{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

In [25]:
import pandas as pd

df = pd.DataFrame(completeList) # let's see

df

,"Chan, Stephen","Gonzales, Joaqs","Ilagan, Joben","Olpoc, Bong","Uy, Chums","Uy, Sean"
0,NaN,NaN,NaN,NaN,"{'total': 400, 'commissions': 4.0}",NaN
1,NaN,NaN,NaN,"{'total': 400, 'commissions': 4.0}",NaN,NaN
2,NaN,"{'total': 400, 'commissions': 4.0}",NaN,NaN,NaN,NaN
3,NaN,NaN,"{'total': 400, 'commissions': 4.0}",NaN,NaN,NaN
4,NaN,NaN,NaN,"{'total': 400, 'commissions': 4.0}",NaN,NaN
5,"{'total': 400, 'commissions': 4.0}",NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,"{'total': 400, 'commissions': 4.0}"
7,NaN,NaN,NaN,NaN,"{'total': 400, 'commissions': 4.0}",NaN

In [26]:
clerkListRepetitions = [] # get list of clerks in order of completeList
for i in range(0,len(completeList)):
    for clerk in completeList[i].keys():
        clerkListRepetitions.append(clerk)
        
for i in range(0,len(completeList)):
    completeList[i][clerkListRepetitions[i]]["clerk"]=clerkListRepetitions[i] # add clerk name

valueList = []
for i in range(0,len(completeList)):
    valueList.append(completeList[i][clerkListRepetitions[i]]) # make list of the values (no keys)

df2 = pd.DataFrame(valueList) # dataframe it
df2 = df2[["clerk","total","commissions"]] # rearrange
df2

             clerk  total  commissions
0        Uy, Chums    400          4.0
1      Olpoc, Bong    400          4.0
2  Gonzales, Joaqs    400          4.0
3    Ilagan, Joben    400          4.0
4      Olpoc, Bong    400          4.0
5    Chan, Stephen    400          4.0
6         Uy, Sean    400          4.0
7        Uy, Chums    400          4.0

In [37]:
clerkList = []
for i in range(0,len(completeList)):
    for clerk in completeList[i].keys():
        if clerk not in clerkList: # no repetitions
            clerkList.append(clerk)
        else:
            pass

# make a df for each clerk
dfList = []
for clerk in clerkList:
    dfName = df2[df2["clerk"].str.contains(clerk)]
    dfList.append(dfName)

In [38]:
dfList2 = []

for i in range(0,len(dfList)):
    dfList2.append(dfList[i].loc[:,"total":].sum()) # add sum of entries to dfList2

In [39]:
dfTotal = pd.DataFrame(dfList2) # dataframe it

# collect last names
lastName = []
for i in range(0,len(clerkList)):
    lastName.append(clerkList[i][0:clerkList[i].index(",")])

# collect first names
firstName = []
for i in range(0,len(clerkList)):
    firstName.append(clerkList[i][clerkList[i].index(",")+2:])

dfTotal.insert(0,"last_name",lastName) # insert to col. 0
dfTotal.insert(1,"first_name",firstName) # insert to col. 1

dfTotal

  last_name first_name  total  commissions
0        Uy      Chums  800.0          8.0
1     Olpoc       Bong  800.0          8.0
2  Gonzales      Joaqs  400.0          4.0
3    Ilagan      Joben  400.0          4.0
4      Chan    Stephen  400.0          4.0
5        Uy       Sean  400.0          4.0

In [35]:
dfTotal.to_csv("commissions_viapandas.csv", index=False) # export to csv

### HTML

In [36]:
html = """
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}</div>
   <div><br/>
</html>
"""

for i in range(0,len(clerkList)):
    # put in html
    htmlLine=html.format(first_name=dfTotal.loc[i:i,"first_name"].values[0],last_name=dfTotal.loc[i:i,"last_name"].values[0],
                        total_sales=dfTotal.loc[i:i,"total"].values[0],total_commissions=dfTotal.loc[i:i,"commissions"].values[0])
    # unique file name
    fileName = lastName[i]+","+firstName[i]+"_viapandas-commissions.html"
    # write
    with open(fileName,"w+") as htmlFile:
        htmlFile.write(htmlLine)